<div class="text-center grayscale-bg">
   <section class='detail-introduction'>
     <h2>📮 メッセージ</h2>
     <p>Dojocast へのお便りがあれば、下記フォームからお気軽にご連絡ください。</p>

    <!-- Contact Form via Wufoo -->
    <div id="contact"></div>
    <div id="wufoo-qkjthoy0qpuvg9" style="margin-top: -10px">
      <a href="https://yasslab.wufoo.com/forms/qkjthoy0qpuvg9">問い合わせフォーム</a>.
    </div>
    <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">HTML Forms powered by <a href="https://www.wufoo.com">Wufoo</a>.</div>
    <script type="text/javascript">
  var qkjthoy0qpuvg9;(function(d, t) {
  var s = d.createElement(t), options = {
    'userName':'yasslab',
    'formHash':'qkjthoy0qpuvg9',
    'autoResize':true,
    'height':'497',
    'async':true,
    'host':'wufoo.com',
    'header':'show',
    'ssl':true
  };
  s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
  s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try {
      qkjthoy0qpuvg9 = new WufooForm();qkjthoy0qpuvg9.initialize(options);qkjthoy0qpuvg9.display();
    } catch (e) {}
  };
  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
  })(document, 'script');
    </script>
  </section>
</div>
