<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport"    content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/style.css?v=6a23690ff9fa48c0e3fd3faabecdfd47c121210f">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="/build/mediaelementplayer.css">
    
    <meta property="fb:admins" content="715330868" />
    <meta property="fb:app_id" content="805184859580207" />
    <meta property="og:title"  content="DojoCast - Highlight people around CoderDojo communities by Podcast">
    <meta property="og:type"   content="website">
    <meta property="og:url"    content="http://dojocast.coderdojo.jp/">
    <meta name="description"
	  content="全国の CoderDojo 関係者を中心に、人と技術とコミュニティについて配信します" />
    <meta property="og:description"
	  content="全国の CoderDojo 関係者を中心に、人と技術とコミュニティについて配信します" />

    <meta property="og:image"      content="http://dojocast.coderdojo.jp/img/og-image.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:site_name"  content="DojoCast - CoderDojo Japan's Podcast">

    <meta name="twitter:card"  content="summary" />
    <meta name="twitter:site"  content="DojoCast" />
    <meta name="twitter:title" content="DojoCast - CoderDojo Japan's Podcast" />
    <meta name="twitter:description"
	  content="全国の CoderDojo 関係者を中心に、人と技術とコミュニティについて配信します" />
    <meta name="twitter:image" content="http://dojocast.coderdojo.jp/img/logo.png" />
    <meta name="twitter:url"   content="http://dojocast.coderdojo.jp/" />


    <link rel="apple-touch-icon"      sizes="57x57"    href="/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon"      sizes="60x60"    href="/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon"      sizes="72x72"    href="/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon"      sizes="76x76"    href="/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon"      sizes="114x114"  href="/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon"      sizes="120x120"  href="/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon"      sizes="144x144"  href="/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon"      sizes="152x152"  href="/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon"      sizes="180x180"  href="/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32"    href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96"    href="/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16"    href="/img/favicon-16x16.png">
    <link rel="manifest"  href="/manifest.json">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
    <meta name="theme-color"             content="#ffffff">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name"><a href="/" style="color:white">DojoCast</a></h1>
      <h2 class="project-tagline"> Highlight people around CoderDojo communities by Podcast<br/>
	📻✨</h2>
    </section>

