<div style="visibility:hidden">
  <label><select name="sources">
      <option value="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3">MP3</option>
    </select>
  </label>
  <br>
  <div class="player-info">
    <div id="player2-rendername">
      <p><strong>DL</strong>: <span class="src"><a href="001.mp3" target="_blank"></a></span></p>
      <p><strong>Renderer</strong>: <span class="renderer"></span></p>
      <p class="error"></p>
    </div>
  </div>
  
  <form action="#" method="get">
    <label>Language <select name="lang">
        <option value="en" selected>English (en)</option>
        <option value="ja">Japanese (ja)</option>
      </select>
    </label><br />
    <label>Stretching<select name="stretching">
        <option value="auto" selected>Auto (default)</option>
        <option value="responsive">Responsive</option>
        <option value="fill" selected>Fill</option>
        <option value="none" selected>None (original dimensions)</option>
      </select>
    </label>
  </form>
</div>
